

body{
    background-color: var(--web-black);

    color: var(--web-beige);
}

#navbar{
    background-color: var(--web-black);
}

a
{
    color: var(--web-red);
}

#navbar a:hover
{
    color: var(--web-beige);
}

.main-box{
    background-color: var(--web-black);
    
    padding-top: 11vh;
}

.social-logo
{
    background-color: var(--web-red);
}

.social-logo:hover
{
    background-color: var(--web-beige);
}

.inside-text{
  width: 40%;
  height: 100%;
  align-content: center;
  text-align: justify;
  float: right;
  padding: 0 5%;
  font-size: 1.3rem;
  line-height: 1.5;

  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.inside-paragraph p:first-child{
    margin-top: 0;
}

.inside-paragraph p:last-child{
    margin-bottom: 0;
}

#gallery-filters{
    margin: 0;
}