@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

:root{
    --web-red: rgb(197, 49, 63);
    --web-yw: rgb(251, 169, 15);
    --web-blue: rgb(106, 133, 205);

    --main-bg-color: white;
    --main-fg-color: black;
}

body{
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    background-color: var(--main-bg-color);
}

a
{
    color: var(--main-fg-color);
    text-decoration: none;
}

.hidden{
    display: none;
}

.navbar{
    /*position: absolute;*/
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 8vh;
    display: flex;
    background-color: var(--web-yw);

    font-family: 'Unbounded';
}

.logo{
    margin: 0.5vh 40px;
    height: 7vh;
}

.menu-span{
    width: 7vw;
}

.menu{
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}

.menu-item{
    /*position: relative;*/
    margin: 0 0.75vw;
    /*text-align: center; */
    vertical-align: bottom; 
    font-size: 2.1rem; 
    align-content: center;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Unbounded';
}

.main-box{
    width: 100vw;
    height: 92vh;
    /*padding: 15px 40px;*/
    background-color: var(--web-red);
    
}

.margin-box{
    margin: 0 auto;
    padding: 15px 1.5vw;
    max-width: 1980px;
    /*width: 100vw;*/
}

.test-box{
    background-image: url("https://cdn.bsky.app/img/avatar/plain/did:plc:irmysldqvyko65gooagik63g/bafkreielmbxp6lxp4gbve6twkxnbe6n5cia7yzopkd6qwqs6ox2bya2iou@jpeg");
    background-position: 50% 22%,45% 37%;
    background-size: cover, cover;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: RGBA(255,255,255,1);
    border-radius: 25px;
    padding: 30vh 50px 20px 50px;
    /*margin: 15px;*/
    /*width: 100%;*/

    margin: 3vh 0;
    
    
    
}

.test-box img{
    max-width: 100%;
    max-height: 100%;
}

.inside-text{
    font-family: 'Unbounded';
    font-weight: 500;
    font-size: 4rem;
    color: var(--web-red);
    text-shadow: -2px -2px 0 #000,2px -2px 0 #000, -2px 2px 0 #000, 5px 5px 0 #000;
}

.inside-b{
    background-position: 50% 70%,45% 37%;
}

.inside-text-b{
    color: var(--web-yw);
}