/*@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
*/
:root{
    --web-red: rgb(197, 49, 63);
    --web-yw: rgb(251, 169, 15);
    --web-blue: rgb(106, 133, 205);
    --web-beige: rgb(244, 240, 231);

    --main-bg-color: var(--web-beige);
    --main-fg-color: black;
}

body{
    margin: 0 auto;
    /*height: 100vh;
    width: 100vw;*/
    background-color: var(--main-bg-color);
}

a
{
    color: var(--main-fg-color);
    text-decoration: none;
    transition: 0.2s;
}



.hidden{
    display: none;
}

.navbar{
    /*position: absolute;*/
    /*top: 0;*/
    margin: 0 auto;
    width: 100%;
    height: 8vh;
    min-height: 80px;
    display: flex;
    background-color: var(--web-beige);

    position: fixed;
    z-index: 1;
    font-family: 'Unbounded';
}

.navbar a:hover{
    color: var(--web-red);
    transition: 0.2s;
}

.logo{
    margin: 0.5vh 40px;
    height: 90%;
    /*align-self: center;*/
}

.menu-span{
    width: 12vw;
}

.menu{
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}

.menu-item{
    /*position: relative;*/
    margin: 0 0.75vw;
    /*text-align: center; */
    /*vertical-align: bottom; */
    font-size: 1.4em; 
    align-content: center;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Unbounded', Verdana, Geneva, Tahoma, sans-serif;
}

.main-box{
    padding-top: 8vh;
    /*width: 100vw;*/
    /*height: 100%;*/
    /*padding: 15px 40px;*/
    background-color: var(--main-bg-color);    
}

.margin-box{
    margin: 0 auto;
    padding: 15px 1.5vw;
    max-width: 1920px;
    /*width: 100vw;*/
}

.content-box{
    background-image: url(../img/Hong_Webcomic_Portada_2.png);
    background-position: 50% 50%;
    background-size: cover, cover;
    border-radius: 25px;
    /*padding: 16vh 1vw 2vh 55vw;*/
    /*padding: 2px 1vw 0 55vw;*/
    padding: 0 1% 0.5% 50%;
    /*top: -100px;*/
    /*margin: 15px;*/
    /*width: 100%;*/
    text-align: right;
    margin: 3vh 0;
    
    height: 50vh;
    min-height: 400px;
    align-content: end;
}

.content-box img{
    /*align-self: baseline;*/
    vertical-align: bottom;
    text-align: right;
    max-width: 75%;
    right:0px;
    position: relative;
}

.inside-text{
    font-family: 'Unbounded';
    font-weight: 500;
    font-size: 4rem;
    color: var(--web-red);
    text-shadow: -2px -2px 0 #000,2px -2px 0 #000, -2px 2px 0 #000, 5px 5px 0 #000;
}

footer{
    justify-content: space-evenly;
    display: flex;
    max-width: 480px;
    margin: 0 auto;
}

.social-logo
{
    background-color: var(--web-yw);
    align-content: center;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 0.2s;
}

.social-logo:hover
{
    background-color: var(--web-red);
    transition: 0.2s;
}

.social-logo svg{
    width: 40px;
    fill: var(--main-fg-color);
    vertical-align: bottom;
}

.gallery{
    line-height: 0;       
    -webkit-column-count: 3;    
    -webkit-column-gap: 0px;    
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;    
    column-gap: 1vw; 

    display:inline-block;    
    margin-right: auto;    
    margin-left: auto;  

}

.gallery img{
    width: 100% !important;    
    height: auto !important;  
    margin-bottom: 1vw;
    border-radius: 10px;
    align-self: start;
}

.gallery img:nth-child(3n+1) { order: 1; } 
.gallery img:nth-child(3n+2) { order: 2; } 
.gallery img:nth-child(3n) { order: 3; }